div {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: ;
}

footer {
    background-color: #4D97C3;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p:hover {
    text-decoration: underline;
}

body {
    background-color: #108064;
}

header {
    background-color: #4D97C3;
}

nav a:hover {
    background-color: #FEFCFB;
}

.book {
    background-color: #108064;
    text-decoration: none;
}

.join {
    background-color: #4D97C3;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #FEFCFB;
}

.msg {
    background-color: #4D97C3;
}

